@import 'https://fonts.googleapis.com/css?family=Cairo';
body {
  margin: 0px;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body, html {
  overflow-x: hidden !important;
}

/* navbar */

.navbar-light {
  margin-bottom: 35px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  padding: 10px 25px !important;
  border-radius: 3px;
  margin: 10px;
  background-color: #ab5dda;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  background: dimgray;
}

/*form */

form {
  display: block;
  width: 50% !important;
  border: 1px solid #d1d1d1;
  padding: 15px 0px;
  margin: auto !important;
  margin-top: 20px !important;
}

input[type='password'], input[type='email'], input[type='text'], input[type='file'], textarea {
  width: 50% !important;
  margin: auto !important;
}

label {
  display: block !important;
}

input {
  font-size: larger !important;
}

.row {
  display: flex !important;
}

/*bottun*/

.btn-primary {
  color: #fff;
  background-color: #ab5dda !important;
  border-color: #ab5dda !important;
  padding: 5px 20px !important;
  margin-top: 15px !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #fff;
  background-color: dimgray !important;
  border-color: dimgray !important;
}

span .button-custom {
  font-size: 11px !important;
  font-weight: bold !important;
}

/*img*/

img.card-img-top {
  display: block !important;
  width: 350px !important;
  height: 200px !important;
  object-fit: cover !important;
  object-position: center!important;
  position: relative !important;
  transition: all 0.5s ease 0s;
}

img.card-img-top:active, img.card-img-top:focus {
  max-width: auto !important;
  height: auto !important;
  object-fit: cover !important;
  transform: scale(2.1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  z-index: 2 !important;
  transform-origin: top right !important;
}

img.img-view:active, img.img-view:focus {
  object-fit: cover !important;
  position: absolute;
  transform: scale(1.7) !important;
}

img.img-view {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
}

img.imge-card:hover {
  object-fit: cover !important;
  transform-origin: top left !important;
}

/* card */

.card-text {
  color: #aaa7a7;
}

.card-title {
  font-weight: bold !important;
}

.card {
  display: block !important;
}

/* custom */

h5.custom-text {
  background-color: #f8f9fa;
  padding: 15px 10px;
  width: 20% !important;
  border-radius: 4px;
  margin: auto !important;
  white-space: nowrap;
}

blockquote {
  color: red;
  font-size: large;
}

span.span-dot {
  font-size: 20px !important;
  padding: 2px;
  color: #ab5dda !important;
}

/* media*/

@media(max-width:991px) {
  form {
    width: 70% !important;
  }
  img.img-view:active, img.img-view:focus {
    transform: scale(1.2) !important;
  }
}

@media(max-width:767px) {
  input[type='password'], input[type='email'], input[type='text'], input[type='file'], textarea {
    width: 60% !important;
  }
  form {
    width: 80% !important;
  }
  h5.custom-text {
    width: 30% !important;
  }
  img.card-img-top:active, img.card-img-top:focus {
    transform: scale(1.8) !important;
    transform-origin: top center !important;
  }
  img.img-view:active, img.img-view:focus {
    transform: scale(1.55) !important;
  }
}

@media(max-width:639px) {
  .row {
    flex-direction: row !important;
  }
}

@media(max-width:575px) {
  img.card-img-top {
    width: auto !important;
    height: auto !important;
  }
  img.card-img-top:active, img.card-img-top:focus {
    transform: scale(1.2) !important;
    transform-origin: top right !important;
  }
  img.img-view:active, img.img-view:focus {
    transform: scale(1.2) !important;
  }
}
